
.app-container {
  min-height: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.toolbar {
  position: static;
  z-index: 3;
}


.main-content {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

