<!--
<div class="container">
  <div class="row">

      <div class="col">
        <label>
          First Name:
          <input type="text" [formControl]="firstNameInput">
        </label>
      </div>

      <div class="col">
        <label>
          Last Name:
          <input type="text" [formControl]="lastNameInput">
        </label>
      </div>

      <div class="col">
        <button mat-raised-button
                color="accent"
                (click)="read_actor()">
            Search
        </button>
      <div>

  </div>
-->

<div class="container">
    <div class="query">
        <mat-form-field appearance="outline" class="genre-input">
            <mat-label>First Name</mat-label>
            <input matInput [formControl]="firstNameInput" required>
            <mat-error *ngIf="firstNameInput.invalid">{{getErrorMessageFirstName()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="genre-input">
            <mat-label>Last Name</mat-label>
            <input matInput [formControl]="lastNameInput" required>
            <mat-error *ngIf="lastNameInput.invalid">{{getErrorMessageLastNameInput()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button
                color="accent"
                (click)="read_actor()">
            Search
        </button>
    </div>
    <div class="results">
        <span>Results here</span>
        <div *ngFor = "let movie of allmovies">
          {{movie.name}} ({{movie.year}})
        </div>
    </div>
</div>
