<div class="container">
    <div class="row interface_selection">
        <div class="col">
            <a routerLink="/question-user1-component" routerLinkActive="active">Evolution des genres au fils des ans</a>
        </div>
        <div class="col">
            <a routerLink="/question-user2-component" routerLinkActive="active">Pour chaque année et genre, le directeur
                avec le plus de succès</a>
        </div>
        <div class="col">
            <a routerLink="/question-user3-component" routerLinkActive="active">L'acteur le mieux noté pour un genre
                donné</a>
        </div>
        <div class="col">
            <a routerLink="/question-user4-component" routerLinkActive="active"> Proportion de genres joués par un
                acteur </a>
        </div>
    </div>
    <div class="row interface_question">
        <router-outlet></router-outlet>
    </div>
</div>
