.interface_selection {
    height: 100px;
    border: black solid 1px;
}

.interface_question {
    height: 300px;
    border: black solid 1px;
    background-color: rgb(71, 71, 192);
}

.col {
    text-align: center;
}