<div class="container">
   <div class="row interface_selection">

      <div class="col">
      <a routerLink="/question-user1-component" routerLinkActive="active">Recherche de metteur en scène par film</a>

      </div>
      <div class="col">
      <a routerLink="/question-user2-component" routerLinkActive="active">Top 10 des films avec metteur en scène par genre</a>

      </div>
      <div class="col">
       <a routerLink="/question-user3-component" routerLinkActive="active">Top 10 des acteurs d'une année</a>

      </div>
      <div class="col">
      <a routerLink="/question-user4-component" routerLinkActive="active"> Meilleur film d'un acteur</a>

      </div>



   </div>
   <div class="row interface_question">
      <router-outlet></router-outlet>
      </div>
</div>
