<!--
<div class="container">
  <div class="row">

      <div class="col">
        <label>
          Genre :
          <input type="text" [formControl]="genreTarget">
        </label>
      </div>


      <div class="col">
        <button mat-raised-button
                color="accent"
                (click)="read_genre()">
            Search
        </button>
      <div>

  </div>




        <li *ngFor="let movie of allMovie">
            {{movie.title}} - {{movie.year}}
        </li>


</div>
-->

<div class="container">
    <div class="query">
        <mat-form-field appearance="outline" class="genre-input">
            <mat-label>Genre...</mat-label>
            <input matInput [formControl]="genreTarget" required>
            <mat-error *ngIf="genreTarget.invalid">{{getErrorMessageGenre()}}</mat-error>
        </mat-form-field>

        <button mat-raised-button
                color="accent"
                (click)="read_genre()">
            Search
        </button>
    </div>
    <div class="results">
        <span>Results here</span>
        <div *ngFor = "let movie of allMovie">
          {{movie.name}} ({{movie.year}})
        </div>
    </div>
</div>
