<!--
<div class="container">
  <div class="row">

      <div class="col">
        <label>
          Movie Name:
          <input type="text" [formControl]="movieName">
        </label>
      </div>


      <div class="col">
        <button mat-raised-button
                color="accent"
                (click)="read_movie()">
            Search
        </button>
      <div>

  </div>




        <li *ngFor="let dir of allDirector">
            {{dir.firstName}} - {{dir.lastName}}
        </li>


</div>
-->
<div class="container">
  <div class="query">
    <mat-form-field appearance="outline" class="genre-input">
      <mat-label>Film...</mat-label>
      <input matInput [formControl]="movieName" required />
      <mat-error *ngIf="movieName.invalid">{{
        getErrorMessageMovie()
      }}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="read_movie()">
      Search
    </button>
  </div>
  <div class="results">
    <span>Results here</span>
    <div *ngFor="let director of allDirector">
      {{ director.name }} : {{ director.year }}
      <div *ngFor="let dir of director.directors">
        {{ dir.first_name }} {{ dir.last_name }}
      </div>
      <br />
    </div>
  </div>
</div>
