<!--
<div class="container">
  <div class="row">

      <div class="col">
        <label>
          Année :
          <input type="text" [formControl]="anneeTarget">
        </label>
      </div>


      <div class="col">
        <button mat-raised-button
                color="accent"
                (click)="read_year()">
            Search
        </button>
      <div>

  </div>




        <li *ngFor="let actor of allActor">
            {{actor.first_name}} - {{actor.last_name}}
        </li>


</div>
-->

<div class="container">
    <div class="query">
        <mat-form-field appearance="outline" class="genre-input">
            <mat-label>First Name</mat-label>
            <input matInput [formControl]="anneeTarget" required>
            <mat-error *ngIf="anneeTarget.invalid">{{getErrorMessageYear()}}</mat-error>
        </mat-form-field>

        <button mat-raised-button
                color="accent"
                (click)="read_year()">
            Search
        </button>
    </div>
    <div class="results">
        <span>Results here</span>
        <div *ngFor = "let actor of allActor">
          {{actor.first_name}} ({{actor.last_name}})
        </div>
    </div>
</div>
