<div class="container">
  <div class="row">

    <div class="col-4">
          Quelle année ?
        </div>
        <div class="col">
          <label>
    <input [(ngModel)]="year" placeholder="title"/>
  </label>
        </div>
        <div class="col">
          <button (click)="Read_year()">validated</button>
        </div>

  </div>

  <div class="row">
  Resultat
  </div>
  <div class="case_research">
<li *ngFor="let actor_test of actors">

  {{actor_test.firstname}} - {{actor_test.lastname}}  <br/>
  </li>
  </div>

</div>
